@using SFA.DAS.Admin.Aan.Domain.Extensions
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.NetworkEventsViewModel
<ol class="das-search-results__list">
@foreach (var calendarEvent in Model.CalendarEvents)
{
    <li class="das-search-results__list-item">
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-three-quarters das-!-float-right">
                <strong class="govuk-tag app-tag--@calendarEvent.Status govuk-!-margin-bottom-2">
                    @calendarEvent.Status
                </strong>
                <h2 class="govuk-heading-m das-search-results__heading">
                    @calendarEvent.Title
                </h2>
                <dl class="das-definition-list das-definition-list--inline">
                    <dt class="das-definition-list__title">Event type</dt>
                    <dd class="das-definition-list__definition">@calendarEvent.CalendarName</dd>
                    <dt class="das-search-title">@calendarEvent.NumberOfAttendees</dt>
                    <dd class="das-definition-list__definition">Signed up</dd>
                </dl>
                <div class="govuk-button-group govuk-!-margin-bottom-0">
                    @if(calendarEvent.IsActive && calendarEvent.Start >= DateTime.Now)
                    {
                        <a href="#" class="govuk-link">Make changes</a>
                        <a href="#" class="govuk-link">Cancel event</a>
                    }
                    else
                    {
                        <a href="#" class="govuk-link">View details</a>
                    }
                </div>
            </div>
            <div class="govuk-grid-column-one-quarter">
                <div class="govuk-body app-date">
                    <span class="app-date__day">@calendarEvent.Start.Day</span>
                    <span class="app-date__month">@calendarEvent.Start.ToString("MMM")</span>
                </div>
                <strong class="govuk-tag app-tag app-tag--@calendarEvent.EventFormat">@calendarEvent.EventFormat.GetDescription()</strong>
            </div>
        </div>
    </li>
}
</ol>
