@using SFA.DAS.Admin.Aan.Web.Models.NetworkEvents
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.ChecklistDetails
@{
    var counter = 0;
}
<div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            @Model.Title
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small">
            @foreach (var lookup in Model.Lookups)
            {
                <div class="govuk-checkboxes__item">
                    <input class="govuk-checkboxes__input" id="@Model.QueryStringParameterName-@counter" name="@Model.QueryStringParameterName" type="checkbox" value="@lookup.Value"
                       @lookup.Checked>
                    <label class="govuk-label govuk-checkboxes__label" for="@Model.QueryStringParameterName-@counter">
                        @lookup.Name
                    </label>
                </div>
                counter++;
            }
        </div>
    </fieldset>
</div>