@using SFA.DAS.Admin.Aan.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvents.NetworkEventsViewModel
@if (Model.ShowFilterOptions)
{
    <div class="das-filter__selected-filters">
        <div class="das-filter__selected-header">
            <h3 class="das-filter__selected-heading">Selected filters</h3>
            <a class="das-filter__selected-action govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.NetworkEvents">Clear <span class="govuk-visually-hidden">the selected filters</span></a>
        </div>
        @foreach (var filters in Model.SelectedFilters.OrderBy(x => x.FieldOrder))
        {
            <h4 class="das-filter__selected-sub-heading">@filters.FieldName</h4>
            @foreach (var filter in filters.Filters.OrderBy(x => x.Order))
            {
                <a href="@filter.ClearFilterLink" title="@filter.Value" class="das-filter__tag das-breakable">@filter.Value</a>
            }
        }
    </div>
}