@* @using SFA.DAS.Admin.Aan.Web.Models.ManageEvent *@
@* @model PreviewEventViewModel *@
@* <h2 class="govuk-heading-m">When and where</h2> *@
@* <p><b>Date and Time:</b> @Model.StartDate @Model.StartTime to @Model.EndTime</p> *@
@* <p> *@
@*     <b>In person:</b> @Model.Location, <span class="das-no-wrap">@Model.Postcode</span> *@
@*     <br /><a href="@Model.GoogleMapsLink" rel="noopener" target="_blank" class="govuk-link">Find the location on google maps (opens in a new window)</a> *@
@* </p> *@
