@* @using SFA.DAS.Admin.Aan.Application.Extensions *@
@* @using SFA.DAS.Admin.Aan.Web.Extensions *@
@* @using Microsoft.AspNetCore.Mvc.TagHelpers *@
@* @model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.PreviewEventViewModel *@
@* @{ *@
@*     ViewData["Title"] = "Preview Calendar Event"; *@
@*     // var onlineLinkDescription = string.IsNullOrEmpty(Model.OnlineEventLink) *@
@*     //     ? "-" *@
@*     //     : "Provided"; *@
@* } *@
@* <div class="govuk-grid-row"> *@
@*     <div class="govuk-grid-column-two-thirds"> *@
@*         <a href="@Model.CheckYourAnswersLink" title="calendar event page" class="govuk-back-link">back to event page</a> *@
@*         <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible"> *@
@*         <strong class="govuk-tag app-tag app-tag--@Model.EventFormat.ToString()">@Model.EventFormat.GetDescription()</strong> <strong class="govuk-tag app-tag">@Model.EventType</strong> *@
@*         <h1 class="govuk-heading-xl govuk-!-margin-top-4">@Model.EventTitle</h1> *@
@*          *@
@*         <partial name=@Model.PartialViewName /> *@
@*         <h2 class="govuk-heading-m">Event summary</h2> *@
@*         <p class="app-user-content"> *@
@*             @Html.MarkdownToHtml(Model.EventSummary)</p> *@
@*         <h2 class="govuk-heading-m">Guest speakers</h2> *@
@*         <div class="app-speakers"> *@
@*             @foreach (var person in Model.EventGuests) *@
@*             { *@
@*                 <div class="app-speaker"> *@
@*                     <h3 class="govuk-heading-s govuk-!-margin-bottom-1">@person.GuestName</h3> *@
@*                     <p>@person.GuestJobTitle</p> *@
@*                 </div> *@
@*             } *@
@*         </div> *@
@*         <h2 class="govuk-heading-m">Event contact</h2> *@
@*         <p>If you have any questions or need to speak about requirements prior to the event, contact the event organiser @Model.ContactName by email: <a href=@Model.EmailLink class="govuk-link">@Model.ContactEmail</a></p> *@
@*         <h2 class="govuk-heading-m">Attendees (@Model.AttendeeCount)</h2> *@
@*         <div data-module="das-show-hide"> *@
@*             <a class="govuk-link govuk-body das-show-hide__button govuk-!-margin-bottom-0" href="#event-attendee-list" data-aria-controls="event-attendee-list" data-button-string="all attendees">Show/hide</a> *@
@*             <div id="event-attendee-list"> *@
@*                 <ul class="govuk-list app-attendee-list"> *@
@*                 </ul> *@
@*             </div> *@
@*         </div> *@
@* *@
@*     </div> *@
@*     <div class="govuk-grid-column-one-third"> *@
@*         <div class="das-highlight govuk-!-margin-top-0"> *@
@*             <h3 class="govuk-heading-m">Want to be involved in this event?</h3> *@
@*             <form method="GET"> *@
@*                 <button class="govuk-button govuk-!-margin-bottom-0 govuk-!-width-full" data-module="govuk-button" type="submit" disabled>Sign up</button> *@
@*             </form> *@
@*         </div> *@
@*     </div> *@
@* </div> *@
@* <form method="GET"> *@
@*     <button class="govuk-button govuk-!-margin-top-4" data-module="govuk-button" type="submit" disabled>Sign up</button> *@
@* </form> *@