@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.CheckAnswersViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    <partial name="_validationSummary" />
    <form asp-route="@Model.PostLink" method="POST">
    <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">@Model.PageTitle</span>
    </h1>
    <input type="hidden" asp-for="@Model.PageTitle"/>
    <input type="hidden" asp-for="@Model.PostLink"/>
    <input type="hidden" asp-for="@Model.CancelLink"/>

    <h1 class="govuk-heading-l">Check your event before publishing</h1>

    <div id="previewlink" class="govuk-body">
        You can <a href="@Model.PreviewLink">preview the event here</a>.
    </div>

    <h2 class="govuk-heading-m">
        Details
    </h2>
    <partial name="_CheckAnswersCalendarEventReview" />
    <div class="govuk-button-group">
        <button
            data-prevent-double-click="true"
            type="submit" id="continue" class="govuk-button" data-module="govuk-button">
            Continue
        </button>
        <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
    </div>
    </form>
    </div>
</div>