@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvent.HasGuestSpeakersViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<partial name="_validationSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
        <form asp-route="@Model.PostLink" method="POST">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.PageTitle</span>
            </h1>
            <input type="hidden" asp-for="@Model.CancelLink"/>

            <div esfa-validation-marker-for="@Model.HasGuestSpeakers" class="govuk-form-group" >
                <span asp-validation-for="HasGuestSpeakers" class="govuk-error-message"></span>
                    <div id="HasGuestSpeakers" class="govuk-radios" data-module="govuk-radios">
                    <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Does the event include guest speakers?
                    </legend>
                    <div class="govuk-radios__item">
                        <input asp-for="HasGuestSpeakers" id="true" class="govuk-radios__input" type="radio" value="true"
                               sfa-validationerror-class="form-control-error">
                        <label class="govuk-label govuk-radios__label" for="true">
                            Yes
                        </label>
                    </div>
                    <div class="govuk-radios__item">
                        <input asp-for="HasGuestSpeakers" id="false" class="govuk-radios__input" type="radio" value="false"
                               sfa-validationerror-class="form-control-error">
                        <label class="govuk-label govuk-radios__label" for="false">
                            No
                        </label>
                    </div>
                    </fieldset>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
            <div class="govuk-button-group">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
                <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
            </div>
        </div>
        </form>
    </div>
</div>