@using SFA.DAS.Admin.Aan.Web.Infrastructure
@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.EventFormatViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<partial name="_validationSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
            <span class="govuk-caption-l">@Model.PageTitle</span>
            Choose an event format
        </h1>
        <p class="govuk-body">
            Please indicate whether this event will take place in person at a physical venue, in an online space or a combination of the two.
        </p>
        <form asp-route="@Model.PostLink" method="POST">
            <div class="govuk-form-group">
                <input type="hidden" asp-for="@Model.PageTitle" />
                <input type="hidden" asp-for="@Model.PostLink"/> 
                <input type="hidden" asp-for="@Model.CancelLink"/>
                <div esfa-validation-marker-for="@Model.EventFormat" class="govuk-form-group">
                    <span asp-validation-for="EventFormat" class="govuk-error-message"></span>
                    <div id="EventFormat" class="govuk-radios" data-module="govuk-radios">
                        @foreach (var ef in Model.EventFormats)
                        {
                            <div class="govuk-radios__item">
                                <input asp-for="EventFormat" id="@ef.Value" class="govuk-radios__input" type="radio" value="@ef.Value"
                                       sfa-validationerror-class="form-control-error">
                                <label class="govuk-label govuk-radios__label" for="@ef.Value">
                                    @ef.Name
                                </label>
                            </div>
                        }
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="govuk-button-group">
                    <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
                    <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>