@using SFA.DAS.Admin.Aan.Web.Infrastructure
@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.EventTypeViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<partial name="_validationSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
        <form asp-route="@Model.PostLink" method="POST">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.PageTitle</span>
                    Confirm your event details
            </h1>
            <p class="govuk-body">
                    Please provide a title for your event and select the event type and region.
            </p>
            <input type="hidden" asp-for="@Model.CancelLink"/>
            <div esfa-validation-marker-for="@Model.EventTitle" class="govuk-form-group">
                <span asp-validation-for="EventTitle" class="govuk-error-message"></span>
                <div id="EventTitle">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Event title
                        </legend>
                        <div class="govuk-form-group">
                            <input class="govuk-input" id="eventTitle" name="eventTitle" type="text" value="@Model.EventTitle" maxlength="200">
                        </div>
                    </fieldset>
                </div>
            </div>
          
            <div esfa-validation-marker-for="@Model.EventTypeId" class="govuk-form-group">
                <span asp-validation-for="EventTypeId" class="govuk-error-message"></span>
                <div id="EventTypeId">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Event type
                        </legend>
                        <div class="govuk-form-group">
                            @Html.DropDownListFor(m => m.EventTypeId,new SelectList(Model.EventTypes, "EventTypeId", "Name"),"Select an event type",new { @class = "govuk-select" })
                        </div>
                    </fieldset>
                </div>
            </div>
            <div esfa-validation-marker-for="@Model.EventRegionId" class="govuk-form-group">
                <span asp-validation-for="EventRegionId" class="govuk-error-message"></span>
                <div id="EventRegionId">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Event region
                        </legend>
                        <div class="govuk-form-group">
                            @Html.DropDownListFor(m => m.EventRegionId,new SelectList(Model.EventRegions, "RegionId", "Name"),"Select a region",new { @class = "govuk-select" })
                        </div>
                    </fieldset>
                </div>
            </div>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="govuk-button-group">
                    <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
                    <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>