@using SFA.DAS.Admin.Aan.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Admin.Aan.Application.Constants
@using SFA.DAS.Admin.Aan.Web.TagHelpers
@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.LocationViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
    var subheading = "Provide event location details";
    @if (Model.ShowLocationDropdown==false)
    {
        subheading = "Provide an online event link";
    }
}

<partial name="_validationSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-route="@Model.PostLink" enctype="multipart/form-data" novalidate>
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.PageTitle</span>
                @subheading
            </h1>
            <input asp-for="OrganisationName" id="OrganisationName" type="hidden"/>
            <input asp-for="AddressLine1" id="AddressLine1" type="hidden" />
            <input asp-for="AddressLine2" id="AddressLine2" type="hidden" />
            <input asp-for="Town" id="Town" type="hidden" />
            <input asp-for="County" id="County" type="hidden" />
            <input asp-for="Postcode" id="Postcode" type="hidden" />
            <input asp-for="Latitude" id="Latitude" type="hidden" />
            <input asp-for="Longitude" id="Longitude" type="hidden" />
            <input type="hidden" asp-for="@Model.EventFormat" />
            <input type="hidden" asp-for="@Model.PageTitle" />
            <input type="hidden" asp-for="@Model.PostLink"/> 
            <input type="hidden" asp-for="@Model.CancelLink"/>
            @if (Model.ShowLocationDropdown)
            {
                <div esfa-validation-marker-for="SearchTerm" class="govuk-form-group">
                    <span asp-validation-for="SearchTerm" class="govuk-error-message"></span>
                    <div id="SearchTerm">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                In person event location
                            </legend>
                            <label class="govuk-visually-hidden" asp-for="SearchTerm">
                                Search Term
                            </label>
                            <div data-module="govuk-input">
                                <input id="SearchTerm" type="text"
                                       placeholder="@Model.SearchResult"
                                       asp-for="SearchTerm" class="govuk-input" sfa-validationerror-class="form-control-error" data-module="autoComplete"/>

                                <label class="govuk-visually-hidden" asp-for="SearchResult">Search Result: @Model.SearchResult</label>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
            @if (Model.ShowOnlineEventLink)
            {
                <div esfa-validation-marker-for="@Model.OnlineEventLink" class="govuk-form-group">
                    <span asp-validation-for="OnlineEventLink" class="govuk-error-message"></span>
                    <div id="OnlineEventLink">
                        <fieldset class="govuk-fieldset">
                            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                                Online event link (optional)
                            </legend>
                            <div id="eventOutline-hint" class="govuk-hint">
                                You can add this later, but you must add an online event link before the event starts
                            </div>
                            <div class="govuk-form-group">
                                <input class="govuk-input" id="onlineEventLink" name="onlineEventLink" type="text" value="@Model.OnlineEventLink" maxlength="@Model.EventOnlineLinkMaxLength">
                                <div id="eventSummary-guide" class="govuk-hint">
                                    You can enter up to @Model.EventOnlineLinkMaxLength characters
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
            }
            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
                <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
            </div>
        </form>
    </div>
</div>