@using SFA.DAS.Admin.Aan.Web.Infrastructure
@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.OrganiserDetailsViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<partial name="_validationSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       
        <form asp-route="@Model.PostLink" method="POST">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.PageTitle</span>
                    Provide details of the event organiser
            </h1>
            <p class="govuk-body">
                    Please confirm the contact details of the event organiser so that attendees can get in touch prior to the event.
            </p>
            <input type="hidden" asp-for="@Model.PageTitle" />
            <input type="hidden" asp-for="@Model.PostLink"/> 
            <input type="hidden" asp-for="@Model.CancelLink"/>
            <div esfa-validation-marker-for="@Model.OrganiserName" class="govuk-form-group">
                    <span asp-validation-for="OrganiserName" class="govuk-error-message"></span>
                <div id="Name">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Event organiser name 
                        </legend>
                        <div class="govuk-form-group">
                                <input class="govuk-input" asp-for="OrganiserName" type="text" maxlength="250">
                        </div>
                    </fieldset>
                </div>
            </div>
            <div esfa-validation-marker-for="@Model.OrganiserEmail" class="govuk-form-group">
                    <span asp-validation-for="OrganiserEmail" class="govuk-error-message"></span>
                    <div id="JobRoleAndOrganisation">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                           Event organiser email address
                        </legend>
                        <div class="govuk-form-group">
                                <input class="govuk-input" asp-for="OrganiserEmail" type="text" maxlength="300">
                        </div>
                    </fieldset>
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                <div class="govuk-button-group">
                    <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Continue</button>
                    <a href="@Model.CancelLink" asp-for="@Model.CancelLink" class="govuk-link">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>