@using SFA.DAS.Admin.Aan.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Admin.Aan.Application.Constants
@using SFA.DAS.Admin.Aan.Web.TagHelpers
@model SFA.DAS.Admin.Aan.Web.Models.ManageEvent.SchoolNameViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<partial name="_validationSummary" />

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <form method="post" asp-route="@Model.PostLink" enctype="multipart/form-data" novalidate>
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-l">@Model.PageTitle</span>
            </h1>
            <input asp-for="Name" id="Name" type="hidden"/>
            <input asp-for="Urn" id="Urn" type="hidden" />
            <input type="hidden" asp-for="@Model.PageTitle" />
            <input type="hidden" asp-for="@Model.PostLink"/> 
            <input type="hidden" asp-for="@Model.CancelLink"/>

            <div esfa-validation-marker-for="SearchTerm" class="govuk-form-group">
                <span asp-validation-for="SearchTerm" class="govuk-error-message"></span>
                <div id="SearchTerm">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            Name of the school
                        </legend>
                        <label class="govuk-visually-hidden" asp-for="SearchTerm">
                            Search Term
                        </label>
                        <div data-module="govuk-input">
                            <input id="SearchTerm" type="text"
                                   asp-for="SearchTerm" class="govuk-input" sfa-validationerror-class="form-control-error" data-module="autoCompleteSchool"/>
            
                            <label class="govuk-visually-hidden" asp-for="SearchResult">Search Result: @Model.SearchResult</label>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="govuk-button-group">
                <button id="continue" type="submit" class="govuk-button" data-module="govuk-button" data-disable-on-submit="true">
                    Continue
                </button>
            @if (Model.DirectCallFromCheckYourAnswers || !Model.HasSeenPreview)
            {
                <a href="@Model.CancelLink" class="govuk-link">Cancel</a>
            }
            </div>
        </form>
    </div>
</div>