@using SFA.DAS.Admin.Aan.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SFA.DAS.Admin.Aan.Web.Models.NetworkEvent.CreateEventFormatViewModel
@{
    ViewData["Title"] = "Create Calendar Event";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2>Create Event</h2>
        <h2 class="govuk-heading-m govuk-!-margin-bottom-5">Event format</h2>
    </div>
</div>
<div class="govuk-grid-row">
    <partial name="_validationSummary" />
    <div class="govuk-grid-column-one-third">

        <form asp-route="@RouteNames.CreateEvent.EventFormat" method="POST">
            <input type="hidden" asp-for="@Model.BackLink"/>
            <div class="das-show-hide" data-module="das-show-hide">

                <span asp-validation-for="EventFormat" class="govuk-error-message"></span>
                <div id="EngagedWithAPreviousAmbassadorInTheNetwork" class="govuk-radios" data-module="govuk-radios">
                    @foreach (var ef in Model.EventFormats)
                    {
                        <div class="govuk-radios__item">
                            <input asp-for="EventFormat" id="@ef.Value" class="govuk-radios__input" type="radio" value="@ef.Value"
                                   sfa-validationerror-class="form-control-error">
                            <label class="govuk-label govuk-radios__label" for="@ef.Value">
                                @ef.Name
                            </label>
                        </div>
                    }
                </div>

                <button type="submit" id="continue" d class="govuk-button" data-disable-on-submit="true">Continue</button>
                <a href="@Model.BackLink" title="Cancel create event" class="govuk-link">Cancel</a>
                </div>
        </form>
    </div>
</div>