﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Aan.SharedUi.Models.NetworkDirectory;
@using SFA.DAS.Aan.SharedUi.Extensions;
@using SFA.DAS.Aan.SharedUi.Constants;

@model NetworkDirectoryViewModel


<ol class="das-search-results__list">
    @foreach (var networkDirectory in Model.Members)
    {
        <li class="das-search-results__list-item">
            <p><a href="@networkDirectory.MemberProfileLink" class="das-search-results__link">@networkDirectory.FullName</a>
            </p>
            <strong
                class="govuk-tag app-tag--@networkDirectory.UserRole.ToString()">@networkDirectory.UserRole.GetDescription()</strong>
            <strong class="govuk-tag govuk-tag--blue">New</strong>
            <dl class="das-definition-list app-definition-list--inline">
                <dt>Joined on:</dt>
                <dd>@networkDirectory.JoinedDate.ToString("dd/MM/yyyy")</dd>
                <dt>Region:</dt>
                <dd>@networkDirectory.RegionName</dd>
            </dl>
        </li>
    }
</ol>
