﻿@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Aan.SharedUi.Models.NetworkDirectory;
@using SFA.DAS.Aan.SharedUi.Extensions;
@using SFA.DAS.Aan.SharedUi.Constants;

@model NetworkDirectoryViewModel

<ol class="das-search-results__list">
    @foreach (var member in Model.Members)
    {
        <li class="das-search-results__list-item">
            <p><a href="@member.MemberProfileLink" class="das-search-results__link">@member.FullName</a>
            </p>
            <strong class="govuk-tag app-tag--@member.UserRole.ToString()">@member.UserRole.GetDescription()</strong>
            <strong class="govuk-tag @member.MaturityTagStyle">@member.MaturityStatus</strong>
            <dl class="das-definition-list app-definition-list--inline">
                <dt>Joined on:</dt>
                <dd>@member.JoinedDate.ToString("dd/MM/yyyy")</dd>
                <dt>Region:</dt>
                <dd>@member.RegionName</dd>
            </dl>
        </li>
    }
</ol>
